/**
 * This is the styles file for the static demos only.
 */

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Get paragraph to wrap by shrinking the card. */
.card.is-wide {
    width: 600px;
}

.card.has-text-centered .card-header,
.card.has-text-centered .card-content,
.card.has-text-centered .card-footer {
    justify-content: center;
    align-items: center;
}

.card.has-text-centered h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

.card-header {
    padding: 1.75rem 0;
}

/* This breaks use of small media image in a card so is disabled. */
.card-content {
    /* padding: 3.5rem 0; */
}

.card-footer {
    padding: 1rem 0;
    border: none;
    font-size: 0.9rem;
    color: #808080;
}
